.mrb-16 {
    margin-bottom: 16px;
}
.mrb-36 {
    margin-bottom: 36px;
}
.mrl-12 {
    margin-left: 12px;
}
.mrt-48 {
    margin-top: 48px;
}
.fxd-row {
    flex-direction: row;
    display: flex;
}
.w100 {
    width: 100%;
}